VITE_VANTIX_USER_ID=00000000-0000-0000-0000-000000000001
VITE_VANTIX_ORGANISATION_ID=00000000-0000-0000-0000-000000000002
VITE_VANTIX_CAPABILITIES=create_project,configure_project,view_draft_report,view_client_report,view_internal_content,edit_report,submit_report,reject_report,approve_report,view_audit,export_report
